.block.call-to-action {
  text-align: center;

  &.align {
    &.right {
      z-index: auto;
      text-align: right;
    }

    &.left {
      z-index: auto;
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.full {
      a {
        width: 100%;
      }
    }
  }
}

/* Fix CSS when volto-block-style is present */
.styled {
  &.styled-callToActionBlock {
    &.right,
    &.left {
      float: none;
    }

    &.full-width {
      right: 0;
      left: 0;
      width: 100% !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }
}
